/* General */

:root {
    --accent-color: #556586;
    --secondary-color: #FFF;
    scroll-behavior: smooth;
}

body {
    font-family: 'Britannic Light', Verdana, sans-serif;
    color: var(--accent-color);
    margin: 0;
}

header,
section {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    overflow-y: hidden;
    padding: 10px 10%;
}

/* Text */

@font-face {
    font-family: "Britannic Light";
    src: url(fonts/Britannic\ T\ Ligh.ttf);
}

h1 {
    font-weight: bold;
}

h2,
h3,
p,
a,
li {
    font-weight:900;
}

h1 {
    font-size: 2.6rem;
    margin: 20px 0;
}

h2 {
    font-size: 2.2rem;
    margin: 10px 0 0 0;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

p {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    opacity: 0.6;
    transition: opacity 0.2s;
}

section li {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

/* Navigation */

nav ul {
    display: inline-block;
    margin: 0 15px;
}

nav ul li {
    display: inline-block;
    position: relative;
    top: 10%;
    list-style: none;
    margin: 5px 5px;
    transform: scale(1, 1.2);
}

#logo {
    width: 170px;
}

#menu {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;
    right: -5%;
    transition: right 0.5s;
    background-color: var(--accent-color);
    opacity: 0.9;
    padding: 2%;
    align-items: center;
    z-index: 1;
    padding: 0;
    margin-right: 0;
}

#menu li a {
    color: var(--secondary-color);
}

#menu.is-hidden {
    right: -100%;
}

/* Hamburger */

#hamburger {
    position: absolute;
    right: 7%;
    top: 5px;
    z-index: 2;
    opacity: 0.9 !important;
}

#hamburger.hamburger.is-active {
    position: fixed;
    top: 5px;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    background-color: var(--accent-color);
    height: 2.5px !important;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: var(--secondary-color);
}

.hamburger {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: .15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible
}

.hamburger-box {
    width: 22px;
    height: 24px;
    display: inline-block;
    position: relative
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
    transition-duration: .075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 2px;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block
}

.hamburger-inner::before {
    top: -10px;
    transition: top .075s .12s ease, opacity .075s ease
}

.hamburger-inner::after {
    bottom: -10px;
    transition: bottom .075s .12s ease, transform .075s cubic-bezier(0.55, 0.055, 0.675, 0.19)
}

.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
}

.hamburger.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top .075s ease, opacity .075s .12s ease
}

.hamburger.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom .075s ease, transform .075s .12s cubic-bezier(0.215, 0.61, 0.355, 1)
}

.hamburger:hover,
.hamburger.is-active:hover {
    opacity: .7
}

/* Promo */

header {
    background: url("img/backgrounds/main.webp");
    padding: 18px 10%;
}

#promo {
    position: relative;
    padding: 0;
}

#promo .arrow-down {
    width: 40px;
    display: none;
    position: fixed;
    left: 49%;
    bottom: 5%;

    animation: 1.5s ease-in-out 0.1s down-up;
    animation-iteration-count: infinite;
}

#heading-block {
    margin: 15% 0 25% 0;
}

@keyframes down-up {
    0% {
        transform: translate(0, 0);
        opacity: 0.01;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 20px);
        opacity: 0.3;
    }
}

/* About */

#about {
    background: url("img/backgrounds/about-back.webp");
}

/* Works */

#work {
    background-image: url("img/works/belsco.webp");
    transition: background-image 0.2s ease-in-out;
    color: var(--secondary-color);
    position: relative;
    height: 70vh;
}

#work a {
    color: var(--secondary-color);
    display: block;
    margin: 30px 0 30px 0;
}

.arrow-side {
    width: 20px;
    transition: opacity 0.2s;
    cursor: pointer;
}

.arrow-side:hover {
    opacity: 0.7;
}

.arrow-side-right {
    float: right;
}

.slider-controls {
    display: block;
    position: absolute;
    top: 45%;
    left: 2%;
    width: 96%;
}

.work {
    padding: 12vw 0 0 0;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.work p,
.work a {
    font-size: 1.2rem;
}

.work h3 {
    font-size: 1.7rem;
}

.work.selected {
    display: block;
}

.work.visible {
    opacity: 1;
}

.work .work-background {
    display: none;
}

/* Skills */

#skills {
    background: url("img/backgrounds/skills-back.webp");
    position: relative;
}

#skill-logos img {
    width: 50px;
    margin: 0 5px;
}

#skill-logos {
    display: none;
    position: absolute;
    top: 15px;
    right: 10%;
}

/* Contacts */

#contacts {
    background: url("img/backgrounds/contacts-back.webp");
    position: relative;
}

#contacts a,
#contacts p {
    display: block;
    margin: 30px 0;
    font-size: 1.5rem;
}

#contacts a.shift-right {
    padding-left: 62px;
}

#footer-text {
    margin: 30% 0 0.5% 0 !important;
    font-size: 1.2rem !important;
}

#contacts-links .right-block {
    position: relative;
    top: 0;
    right: 0;
}

#contacts-links {
    position: relative;
}

#contacts .qr {
    display: none;
    width: 350px;
}

#download-cv {
    position: absolute;
    top: -11px;
    right: 6%;
    padding: 5px;
    display: inline-block;
    border: solid 3px var(--accent-color);
    width: fit-content;
}

#download-cv:hover {
    opacity: 0.7;
}

/* Scroll */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: rgb(220, 220, 220);
}

::-webkit-scrollbar-thumb {
    background: rgb(165, 172, 209);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

.back-to-top {
    animation: back-to-top-animation 1.5s;
    bottom: 2rem;
    cursor: pointer;
    position: fixed;
    right: 2rem;
    z-index: 100
}

@keyframes back-to-top-animation {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }

    100% {
        opacity: .8;
        transform: translateY(0)
    }
}

/* Responsive */

@media (min-width:600px) {
    h2 {
        font-size: 3rem;
    }

    #skills h3 {
        font-size: 1.8rem;
    }

    p,
    a,
    section li {
        font-size: 1.5rem;
    }

    .work {
        padding: 90px 0 0 0;
    }

    .work p,
    .work a {
        font-size: 1.5rem;
    }

    .work h3 {
        font-size: 2rem;
    }

    #contacts a,
    #contacts p {
        font-size: 2rem;
    }

    #contacts a.shift-right {
        padding-left: 83px;
    }

    #contacts .qr {
        display: block;
    }

    #download-cv {
        top: -15px;
        right: 10%;
        padding: 10px;
    }
}

@media (min-width:990px) {
    #logo {
        width: 250px;
    }

    #skill-logos {
        display: block;
    }

    #hamburger {
        display: none;
    }

    #menu {
        font-size: 2.3rem;
        flex-direction: row;
        position: absolute;
        top: 17px;
        width: auto;
        right: 10% !important;
        background: none;
        align-items: baseline;
        padding-top: 0;
        opacity: 1;
    }

    #menu li a {
        color: var(--accent-color);
    }

    nav ul li {
        display: inline-block;
        top: 0;
        margin: 0 15px;
    }

    h1 {
        font-size: 6rem;
        margin: 40px 0;
    }

    #promo .arrow-down {
        display: block;
    }
}

@media (min-width:1440px) {
    nav ul li {
        display: inline-block;
        top: 0;
        margin: 0 30px;
    }

    #contacts-links .right-block {
        position: absolute;
        top: -13%;
        right: 30%;
    }

    .work {
        padding: 130px 0 0 0;
    }
}

/* Utility */

.rotate180 {
    transform: rotate(180deg);
}

.hidden {
    display: none !important;
}