:root {
    --accent-color: #556586;
    --secondary-color: #FFF;
}

@font-face {
    font-family: "Tw Cen MT Condensed";
    src: url(fonts/TwCenMTCondensed.ttf);
}

body {
    font-family: 'Tw Cen MT Condensed', Verdana, sans-serif;
    color: var(--accent-color);
    margin: 0;
}

nav ul {
    display: inline-block;
    margin: 0 15px;
}

nav ul li {
    display: inline-block;
    position: relative;
    top: 10%;
    list-style: none;
    margin: 5px 5px;
    transform: scale(1, 1.2);
}

#logo {
    width: 170px;
}

#menu {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;
    right: -5%;
    transition: right 0.5s;
    background-color: var(--accent-color);
    opacity: 0.9;
    padding: 2%;
    align-items: center;
    z-index: 1;
    padding: 0;
    margin-right: 0;
}

#menu li a {
    color: var(--secondary-color);
}


h1, h2, h3, p, li, a {
    transform: scale(1, 1.2);
}

h1 {
    font-size: 2.8rem;
    margin: 30px 0;
}

#promo {
    position: relative;
    padding: 0;
}

#promo .arrow-down{
    width: 40px;
    display: none;
    position: fixed;
    left: 49%;
    bottom: 5%;

    animation: 1.5s ease-in-out 0.1s down-up;
    animation-iteration-count: infinite;

}

@media (min-width:990px) {
    #logo {
        width: 250px;
    }

    #hamburger {
        display: none;
    }

    #menu {
        font-size: 2.3rem;
        flex-direction: row;
        position: absolute;
        top: 17px;
        width: auto;
        right: 10% !important;
        background: none;
        align-items: baseline;
        padding-top: 0;
        opacity: 1;
    }

    #menu li a {
        color: var(--accent-color);
    }

    nav ul li {
        display: inline-block;
        top: 0;
        margin: 0 15px;
    }

    h1 {
        font-size: 5rem;
        margin: 40px 0;
    }

    #promo .arrow-down{
        display: block;
    }
}

@media (min-width:1440px) {
    nav ul li {
        display: inline-block;
        top: 0;
        margin: 0 30px;
    }
}

#hamburger {
    position: absolute;
    right: 7%;
    top: 5px;
    z-index: 2;
    opacity: 0.9 !important;
}

#hamburger.hamburger.is-active {
    position: fixed;
    top: 5px;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    background-color: var(--accent-color);
    height: 2.5px !important;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    opacity: 0.6;
    transition: opacity 0.2s;
}

#heading-block {
    margin: 15% 0 25% 0;
}

header,
section {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    overflow-y: hidden;
    padding: 10px 10%;
}

header {
    background: url("img/backgrounds/main.webp");
    padding: 18px 10%;
}

#about {
    background: url("img/backgrounds/about-back.webp");
}

#work {
    background: url("img/works/belsco.webp");
    color: var(--secondary-color);
}

#skills {
    background: url("img/backgrounds/skills-back.webp");
    position: relative;
}

#skill-logos img {
    width: 50px;
    margin: 0 5px;
}

#skill-logos {
    display: none;
    position: absolute;
    top: 15px;
    right: 10%;
}

#contacts a, #contacts p {
    display: block;
    margin-bottom: 30px;
    font-size: 2rem;
}

#contacts a.shift-right{
    padding-left: 83px;
}

#footer-text {
    padding: 30% 0 2% 0;
}

#contacts-links .right-block {
    position: relative;
    top: 0;
    right: 0;
}

@media (min-width:900px) {
    #contacts-links .right-block {
        position: absolute;
        top: 0;
        right: 30%;
    }
}

#contacts-links {
    position: relative;
}

@media (min-width:600px) {
    #skill-logos {
        display: block;
    }
}

#contacts {
    background: url("img/backgrounds/contacts-back.webp");
}

section h2 {
    font-size: 3rem;
    margin: 10px 0 0 0;
}

p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0;
}

a {
    font-size: 1.5rem;
    transform: scale(1, 1.2);
}

section li {
    font-size: 1.5rem;
    margin-bottom: 8px;
}


#menu.is-hidden {
    right: -100%;
}

.hidden {
    display: none !important;
}

@keyframes down-up {
    0% {
        transform: translate(0,0);
        opacity: 0.01;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translate(0,20px);
        opacity: 0.3;
    }
}